<main>
    <ion-grid>
        <ion-row>
            <ion-col size="1">
                <ion-button color="medium" (click)="router.navigate(['boxes'])">View Boxes</ion-button>
            </ion-col>
            <ion-col size=""></ion-col>
            <ion-col size=""></ion-col>
            <ion-col size="3">
                <ion-searchbar (ionInput)="search($event)" animated="true" placeholder="Search"
                    color="medium"></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row class="titleRow">
			<ion-col><b>Id</b></ion-col>
			<ion-col>Buyer</ion-col>
			<ion-col>Ordered At</ion-col>
			<ion-col></ion-col>
		</ion-row>
        
        <ion-row *ngFor="let order of orders">
            <ion-col>{{order.id}}</ion-col>
            <ion-col>{{order.buyer}}</ion-col>
            <ion-col>{{order.orderedAt | date: 'dd/MM/yyyy - HH:mm'}}</ion-col>
            <ion-col>
                <ion-col size="6"><ion-button color="danger" (click)="delete(order.id)">Delete</ion-button></ion-col>
                <ion-col size="6"><ion-button color="medium" (click)="showOrder(order.id)">View</ion-button></ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
</main>