<ion-header>
    <ion-toolbar>
        <ion-row style="margin-left: 10px;">
            <ion-col size="auto">
                <span style="font-size: 22px; cursor: pointer;" (click)="goBack()" id="back"><ion-icon name="arrow-back-outline"></ion-icon></span>
            </ion-col>
            <ion-col>
                <ion-title>Box: <span>{{id}}</span></ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="content"> 
        <h2>Box properties</h2>
        <div *ngIf="box; else noData">
            <div>
                <ion-grid>
                    <ion-row>
                        <ion-col size="1">Id</ion-col>
                        <ion-col size="1">Width</ion-col>
                        <ion-col size="1">Height</ion-col>
                        <ion-col size="1">Length</ion-col>
                        <ion-col size="1">Weight</ion-col>
                        <ion-col size="1">Color</ion-col>
                        <ion-col size="1">Price</ion-col>
                        <ion-col size="2">Created At</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="1">{{box.id}}</ion-col>
                        <ion-col size="1">{{box.width | number}} cm</ion-col>
                        <ion-col size="1">{{box.height | number}} cm</ion-col>
                        <ion-col size="1">{{box.length | number}} cm</ion-col>
                        <ion-col size="1">{{box.weight | number}} g</ion-col>
                        <ion-col size="1">{{box.color | boxColorDisplayName}}</ion-col>
                        <ion-col size="1">{{box.price | number}} dkk</ion-col>
                        <ion-col size="2">{{box.createdAt | date: 'dd/MM/yyyy - HH:mm'}} (UTC)</ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div>
                <h2>
                    Extended information
                </h2>
                <ion-grid id="extended">
                    <ion-row>
                        <ion-col style="text-align: right; padding-right: 10px;" size="6">Volume</ion-col>
                        <ion-col size="6">{{box.getVolume() | number}} cm<sup>3</sup></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="text-align: right; padding-right: 10px;" size="6">Surface Area</ion-col>
                        <ion-col size="6">{{box.getSurfaceArea() | number}} cm<sup>2</sup></ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <ng-template #noData >
            <span *ngIf="box === null; else loading">No box found with the id {{id}}</span>
            <ng-template #loading>
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </ng-template>
        </ng-template>
    </div>
</ion-content>