<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center" *ngIf="!box; else edit">Add new box</ion-title>
        <ng-template #edit>
            <ion-title class="ion-text-center">Update box</ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form id="inputForm" [formGroup]="inputForm" (ngSubmit)="submitForm()">
        <ion-grid>
            <ion-row>
                <ion-col class="label" size="2">
                    <label for="width">Width</label>
                </ion-col>
                <ion-col>
                    <input type="text" name="width" formControlName="width" required pattern="[0-9]*" (input)="forceIntegers($event)"/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="label" size="2">
                    <label for="height">Height</label>
                </ion-col>
                <ion-col>
                    <input type="text" name="height" formControlName="height" required pattern="[0-9]*" (input)="forceIntegers($event)"/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="label" size="2">
                    <label for="length">Length</label>
                </ion-col>
                <ion-col>
                    <input type="text" name="length" formControlName="length" required pattern="[0-9]*" (input)="forceIntegers($event)"/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="label" size="2">
                    <label for="weight">Weight</label>
                </ion-col>
                <ion-col>
                    <input type="text" name="weight" formControlName="weight" required pattern="[0-9]*" (input)="forceIntegers($event)"/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="label" size="2">
                    <label for="color">Color</label>
                </ion-col>
                <ion-col>
                    <select name="color" formControlName="color" required>
                        <option *ngFor="let color of boxColorValues" [value]="color">{{color}}</option>
                    </select>
                </ion-col>
            </ion-row>
        </ion-grid>
            
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button color="success" type="submit" [disabled]="inputForm.invalid">Save</ion-button>
                </ion-col>
                <ion-col size="1"></ion-col>
                <ion-col>
                    <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>